.menu__item {
  @apply bg-clip-text hover:text-transparent bg-gradient-to-r from-orange-900 to-yellow-900 font-bold text-white transition-all
}

.menu__item--active {
  @apply text-transparent bg-gradient-to-r from-orange-900 to-yellow-900
}

.post--featured__title {
  @apply text-3xl lg:text-4xl font-bold leading-10 lg:leading-snug mb-4 lg:mb-8 bg-clip-text text-transparent bg-gradient-to-r from-yellow-900 to-orange-900
}

.scroll-line {
  animation: 1.45s infinite alternate slideScroll;
}

.hero__gradient {
  background: linear-gradient(250deg, #FC2EB1, #07EDF8);
  background-size: 120% 120%;
  background-clip: text;
  text-fill-color: transparent;
  animation: 3s infinite alternate shine;
}

@keyframes slideScroll {
  from {
    opacity: 0;
    transform: translateY(26px)
  }
  to {
    opacity: 1;

    transform: translateY(0)
  }
}

@keyframes shine {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.post-content {
  h2,h3,h4,h5,h6 { @apply font-bold pt-8; }

  h2 { @apply text-4xl}
  h3 { @apply text-3xl}
  h4 { @apply text-2xl}

  hr {
    border: none;
    height: 1px;
    background: linear-gradient(250deg, #FC2EB1, #07EDF8);
  }

  strong, b {
    color: white;
  }

  i, em {
    font-style: italic;
  }

  a {
    color: #72F1B8;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  ul {
    list-style-type: square;
    @apply ml-12
  }

  ol {
    list-style: decimal;
    @apply ml-12
  }

  blockquote {
    @apply italic text-gray-600 ml-12 pl-8 leading-8;

    border: 6px none;
    border-left-style: solid;
    border-image-source: linear-gradient(0deg, #FC2EB1, #07EDF8);
    border-image-slice: 1;

  }
}

.highlight-yellow {
  //@apply font-bold;
  color: #f4eee4;
  text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0575, 0 0 2px #f39f0575;
}

.highlight-pink {
  //@apply font-bold;
  color: #fff5f6;
  text-shadow: 0 0 2px #000, 0 0 10px #fc1f2c75, 0 0 5px #fc1f2c75, 0 0 25px #fc1f2c75;
}

.highlight-green {
  color: #72f1b8;
  text-shadow: 0 0 2px #100c0f, 0 0 10px #257c5575, 0 0 35px #21272475;
}
