@tailwind base;
@tailwind components;
@tailwind utilities;

@import "_utils.scss";

html,
body {
  background-color: #302441;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #07EDF8;
}

body::-webkit-scrollbar-thumb {
  background-color: #FC2EB1;
  border-radius: 20px;
}


@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Heavy.otf');
  font-display: optional;
  font-weight: 700;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Bold.otf');
  font-display: optional;
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Regular.otf');
  font-display: optional;
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Thin.otf');
  font-display: optional;
  font-weight: 300;
}

.glow-orange {
  text-shadow: #FE4450 0 0 3px;
}
